.videoBg {
  // padding: 3rem 0;
  margin: auto;
  // border-radius: 50px;
  position: relative;
}

.videoBg:before {
  content: "";

  border-radius: 50;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1; /* Ensure the pseudo-element is behind the content */
  background: linear-gradient(
    45deg,
    #9400ff,
    rgb(0, 0, 255),
    #687eff,
    // rgba(255, 157, 0, 0.667),
    #6528f7,
    #ffa3fd // #f5f8fb,
    // white
  );
  opacity: 0.5; /* Adjust the opacity as needed */
}
